.input-container {
  --input-container_border-radius: 0.75em;
  background-color: var(--ctp-mocha-base);
  border-radius: var(--input-container_border-radius);
  width: 100%;

  display: flex;
}

.input-container input {
  color: var(--ctp-latte-text);
  background-color: var(--ctp-latte-crust);
  border-radius: var(--input-container_border-radius);
  width: 100%;
  padding: 0.5em 0.75em;
  font-size: 16px;
  transform: translateY(-0.4em);
  transition: transform 0.1s ease-in-out;
}

.input-container input:focus {
  transform: translateY(0);
  outline: none;
  box-shadow: 0 0 2px 0 var(--ctp-mocha-base);
}

.input-container input:autofill,
.input-container input:autofill:hover,
.input-container input:autofill:focus,
.input-container input:autofill:active {
  box-shadow: 0 0 0 1000px var(--ctp-latte-crust) inset;
  -webkit-text-fill-color: var(--ctp-latte-text);
}

/*.input-container input:hover:not(:focus) {*/
/*  transform: translateY(-0.54em);*/
/*}*/
