<app-layout>
  @let isEmailValid = email?.invalid ?? false;

  <p class="label">Forgot your password? <span>What's your email?</span></p>
  <form class="forgot-password-form" [formGroup]="forgotPasswordForm">
    <span>
      <app-text-input-box
        id="email"
        name="email"
        placeholder="Email"
        formControlName="email"
        (input)="onEmailInput($event)"
      ></app-text-input-box>
      @if (email?.touched && email?.dirty && isEmailValid) {
        <app-errors-list [errorList]="emailErrors()"></app-errors-list>
      }
    </span>
    <app-button [disabled]="isEmailValid" type="submit" (buttonClick)="onSubmit()">Reset Password
    </app-button>
  </form>
</app-layout>
