<app-layout>
  <p class="label">Forgot your password? <span>What's your email?</span></p>
  <form class="forgot-password-form" [formGroup]="forgotPasswordForm">
    <span>
      <app-text-input-box
        id="email"
        name="email"
        placeholder="Email"
        formControlName="email"
        (input)="onInput($event)"
      ></app-text-input-box>
<!--      @if (email && email.invalid && (email.dirty || email.touched)) {-->
<!--        @if (email.hasError('email')) {-->
<!--          <p>email not valid</p>-->
<!--        }-->
<!--      }-->
      <app-errors-list></app-errors-list>
    </span>
    <app-button [disabled]="isButtonDisabled()" type="submit" (buttonClick)="onSubmit()">Reset Password</app-button>
  </form>
</app-layout>
