button {
  --button_radius: 0.75em;
  --button_border-color: light-dark(var(--ctp-mocha-base), var(--ctp-mocha-overlay0));
  --button_width: 100%;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  background-color: var(--button_border-color);
  color: var(--color-text);
  border: none;
  border-radius: var(--button_radius);
  width: var(--button_width);
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.75em 1em;
  background: var(--color-crust);
  border-radius: var(--button_radius);
  border: 0.175em solid var(--button_border-color);
  transform: translateY(-0.4em);
  transition: transform 75ms ease-in-out;
  width: var(--button_width);
}

button:hover .btn {
  transform: translateY(-0.48em);
}

button:active .btn {
  transform: translateY(0);
}

button:disabled {
  --button--disabled-border-color: light-dark(var(--ctp-latte-surface2), var(--ctp-mocha-surface0));

  cursor: not-allowed;
  color: var(--color-subtext0);
  background-color: var(--button--disabled-border-color);
}

button:disabled .btn {
  cursor: not-allowed;
  border-color: var(--button--disabled-border-color);
}

button:disabled:hover .btn {
  transform: translateY(-0.4em);
}

button:disabled:active .btn {
  transform: translateY(-0.4em);
}

