:host {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.label {
  font-weight: 700;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
}

.label > span {
  font-weight: 200;
  font-size: 16px;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sign-in-form .text-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forgot-password-link {
  font-size: 11px;
  font-weight: 400;

  margin-top: 4px;
  margin-left: 4px;
}

.sign-up-label {
  font-size: x-small;
  font-weight: 400;
  text-align: center;
}

