/* You can add global styles to this file, and also import other style files */
@import "@catppuccin/palette/css/catppuccin.css";

:root {
  color-scheme: light;
  background-color: var(--ctp-latte-base);

  font-family: Inter, "Roboto Light", sans-serif;
}

.active {
  color: var(--ctp-latte-green);
}
